<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Qoura posts</h1>
        <button class="new-post"><a href="/posts/new">Add post</a></button>
        <% for(post  of  posts) { %>
        <div class="post" id = "<%= post.id%>" >
            <h3>@ <%= post.username%></h3>
            <button><a href="/posts/<%=post.id%>">See More</a></button>
            <p><%= post.content %></p>
        </div>
        <%}%>

</body>
</html>